<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RiverLink.Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RiverLink.Automation.Properties.Settings>
            <setting name="V_HomePage" serializeAs="String">
                <value>About RiverLink</value>
            </setting>
            <setting name="U_Login" serializeAs="String">
                <value>/RiverLink.External/Login</value>
            </setting>
            <setting name="V_LoginPage" serializeAs="String">
                <value>RiverLink Account Login</value>
            </setting>
            <setting name="V_AccountOverview" serializeAs="String">
                <value>Account Number</value>
            </setting>
            <setting name="X_UserField" serializeAs="String">
                <value>//*[@id="txtUserName"]</value>
            </setting>
            <setting name="X_PassField" serializeAs="String">
                <value>//*[@id="txtPassword"]</value>
            </setting>
            <setting name="X_LoginBTN" serializeAs="String">
                <value>//*[@id="btnLogin"]</value>
            </setting>
            <setting name="X_VehicleTable" serializeAs="String">
                <value>//*[@id="MainContent_dashBoard_dvVehicles_groupPlaceholderContainer"]//tr</value>
            </setting>
            <setting name="X_TransactionTable" serializeAs="String">
                <value>//*[@id="MainContent_databound2_groupPlaceholderContainer"]//tr</value>
            </setting>
            <setting name="V_TransactionHistory" serializeAs="String">
                <value>Total Transactions Displayed</value>
            </setting>
        </RiverLink.Automation.Properties.Settings>
    </userSettings>
</configuration>