<?xml version="1.0" encoding="utf-8" ?>

<!--For production set throwExceptions to False and internalLogLevel to Off-->
<!--For Debug set internalLogLevel to something other than Off-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
    <target name="file" xsi:type="File" 
      fileName="${basedir}/logs/app.log"
      layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace} ${message}"
      archiveFileName="${basedir}/logs/archives/log.info.${shortdate}.{######}.txt"
      archiveAboveSize="1048576"
      archiveEvery="Day"
      archiveNumbering = "Rolling"
      maxArchiveFiles="7" />
  </targets>

  <rules>

    <!-- Define where to write the errors -->
    <logger name="*" minlevel="Trace" writeTo="console,file" />

  </rules>
</nlog>